<!-- {{>next_more}} -->
<table class='table table-striped'>
  <thead>
    <tr>
      <th width="4%">Index</th>
      <th width="13%">State</th>
      <th width="13%">Date</th>
      <th width="22%">Email</th>
      <th width="22%">Type</th>
      <th width="22%">Error/Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each events:i}}
      <tr>
        <td><a href="/mail_events/{{id}}">{{total_rows-((current_page-1)*limit)-i}}</a></td>
        <td><a class="btn btn-{{state_class(doc.state)}}" on-click="toggle_state">{{state(doc.state)}}</a></td>
        <td>{{dateFormat(key[0])}}</td>
        <td>{{key[1]}}</td>
        <td><span class="label label-{{value.type=='order_mail' ? 'warning' : 'default'}}">{{value.type}}</span></td>
        <td>{{value.error}}{{value.description}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<!-- {{/next_more}} -->
